<div class="hero-unit">

  <h1>Welcome to Bug Me Until I Do It!</h1>
  
  <% if signed_in? %>
    <p>Looks like you're all set! <%= link_to "Head on over to your tasks", user_assigned_tasks_path(current_user) %></p>
    <p>Or, if you're not familiar with Bug Me Til I Do It, continue reading to get started.</p>
  <% end %>

  <p>This is a simple application that reminds you to do your <strong>most important</strong> task.</p>
  
  <div class="video-container">
    <iframe class="" width="800" height="450" src="//www.youtube.com/embed/tvd3zS_HY1E" frameborder="0" allowfullscreen></iframe>
  </div>
  

  <p>Here's how it works:</p>
  <ol>
    <li><%= link_to 'Sign up', new_user_registration_path %> if you haven't already</li>
    <li>Once you're signed up, you'll see a menu item above called "My Tasks." Click that and then click "Create New."</li>
    <li>Fill out the form using a descriptive title for the task and enter a number of minutes.</li>
    <li>Click "Create assigned task."</li>
  </ol>

  <p>That's it!</p>

  <p>After that, we'll email you based on the number of minutes you specified until you completed this task.</p>

  <p>For example, if you entered "Go to the gym" and entered "10" for the interval, you'll get an email every 10 minutes until you go to the gym.</p>

  <p>Oh, and because this app is meant to help you complete your <strong>most important task</strong>, you'll only be able to create one task at a time. Once you complete a task, you can create another one.</p>

  <p>And please email us at bugmeuntilidoit at gunnertech.com with suggestions for improvement!</p>
</div>