<%- model_class = AssignedTask -%>
<div class="page-header">
  <h1><%= resource %></h1>
</div>

<% if can? :update, resource %>
  <div class="form-actions">
    <%= link_to "Complete", user_assigned_task_path(resource.user, resource, assigned_task:{action: 'complete'}), method: 'put', :class => 'btn btn-primary' %>
    <%= link_to "Abandon", user_assigned_task_path(resource.user, resource, assigned_task:{action: 'abandon'}), method: 'put', :class => 'btn btn-danger' %>
  </div>
<% end %>